<h1>panel de productos</h1>
<form id="products" method="POST" action="/api/addBook">
    <label>nombre</label>
    <input type="text" name="name">
    <label>autor</label>
    <input type="text" name="autor">
    <label>paginas</label>
    <input type="number" name="pages">
    <label>precio</label>
    <input type="number" name="price">
    <input type="submit">
</form>



  
