    <h1>panel de productos</h1>
    <form id="productfomr">
        <label>nombre</label>
        <input type="text" name="name">
        <label>autor</label>
        <input type="text" name="autor">
        <label></label>
        <input type="file" name="images">
        <label>paginas</label>
        <input type="number" name="pages">
        <label>precio</label>
        <input type="number" name="price">
        <input type="submit">
    </form>
    <script src="./index.js"></script>