<h1>logins</h1>

<form id="login">
    <label>Correo electrónico</label>
    <input name="email">
    <label>Contraseña</label>
    <input name="password">
    <input type="submit">
</form> 
<script src="./login.js"></script>