<h1>logins</h1>

<form id="login">
    <label>email:</label>
    <input name="email">
    <label>password</label>
    <input name="password">
    <input type="submit">
</form> 
<script src="./login.js"></script>